<form th:fragment="addNewDestinationForm" name="addNewDestinationForm" method="post" action="/dashboard/destinations/addNewDestination">
    <label for="addNewDestinationCity" class="block font-medium text-gray-700">City:</label>
    <input type="text" id="addNewDestinationCity" name="city" class="mt-1 p-2 border rounded-md w-full">
    <label for="addNewDestinationCountry" class="block font-medium text-gray-700 mt-4">Country:</label>
    <input type="text" id="addNewDestinationCountry" name="country" class="mt-1 p-2 border rounded-md w-full">
    <label for="addNewDestinationContinent" class="block font-medium text-gray-700 mt-4">Continent:</label>
    <input type="text" id="addNewDestinationContinent" name="continent" class="mt-1 p-2 border rounded-md w-full">
    <label for="addNewDestinationImage" class="block font-medium text-gray-700 mt-4">Image:</label>
    <input type="file" id="addNewDestinationImage" name="image" class="mt-1 p-2 border rounded-md w-full">
    <button type="submit" class="gap-x-4 mt-8 bg-red-600 hover:bg-red-700 text-white font-bold py-2 px-4 rounded">Add</button>
</form>