<tr th:fragment="tableDashboardUser" th:each="user : ${dashboardUsersContent}" class="border-b dark:border-neutral-500">
    <td class="whitespace-nowrap px-6 py-4 font-medium" th:text="${user.id}"></td>
    <td class="whitespace-nowrap px-6 py-4" th:text="${user.name}"></td>
    <td class="whitespace-nowrap px-6 py-4" th:text="${user.surname}"></td>
    <td class="whitespace-nowrap px-6 py-4" th:text="${user.username}"></td>
    <td class="whitespace-nowrap px-6 py-4" th:text="${#temporals.format(user.registeredDate, 'dd.MM.yyyy')}"></td>
    <td class="whitespace-nowrap px-6 py-4" th:text="${user.role}"></td>
    <td class="whitespace-nowrap px-6 py-4">
        <div th:replace="~{fragments/forms/users/GET_editUserForm :: GET_editUserForm}"></div>
    </td>
    <td class="whitespace-nowrap px-6 py-4">
        <div th:replace="~{fragments/forms/users/deleteUserForm :: deleteUserForm}"></div>
    </td>
</tr>
