<tr th:fragment="tableDashboardAccommodationUnit" th:each="accommodationUnit : ${dashboardAccommodationUnitsContent}"
    class="border-b dark:border-neutral-500">
    <td class="whitespace-nowrap px-6 py-4 font-medium" th:text="${accommodationUnit.id}"></td>
    <td class="whitespace-nowrap px-6 py-4" th:text="${accommodationUnit.name}"></td>
    <td class="whitespace-nowrap px-6 py-4" th:text="${accommodationUnit.capacity}"></td>
    <td class="whitespace-nowrap px-6 py-4" th:text="${accommodationUnit.destination}"></td>
    <td class="whitespace-nowrap px-6 py-4" >services +++</td>
    <td class="whitespace-nowrap px-6 py-4">
        <div th:replace="~{fragments/forms/accommodationUnits/GET_editAccommodationUnitForm :: GET_editAccommodationUnitForm}"></div>
    </td>
    <td class="whitespace-nowrap px-6 py-4">
        <div th:replace="~{fragments/forms/accommodationUnits/deleteAccommodationUnitForm :: deleteAccommodationUnitForm}"></div>
    </td>
</tr>