<tr th:fragment="tableDashboardDestination" th:each="destination : ${dashboardDestinationsContent}" class="border-b dark:border-neutral-500">
    <td class="whitespace-nowrap px-6 py-4 font-medium" th:text="${destination.id}"></td>
    <td class="whitespace-nowrap px-6 py-4" th:text="${destination.city}"></td>
    <td class="whitespace-nowrap px-6 py-4" th:text="${destination.country}"></td>
    <td class="whitespace-nowrap px-6 py-4" th:text="${destination.continent}"></td>
    <td class="whitespace-nowrap px-6 py-4" th:text="${destination.image}"></td>

    <td class="whitespace-nowrap px-6 py-4">
        <div th:replace="~{fragments/forms/destinations/GET_editDestinationForm :: GET_editDestinationForm}"></div>
    </td>
    <td class="whitespace-nowrap px-6 py-4">
        <div th:replace="~{fragments/forms/destinations/deleteDestinationForm :: deleteDestinationForm}"></div>
    </td>
</tr>