<tr th:fragment="tableDashboardAccommodationUnit" th:each="accommodationUnit : ${dashboardAccommodationUnitsContent}"
    class="border-b dark:border-neutral-500">
    <td class="whitespace-nowrap px-6 py-4 font-medium" th:text="${accommodationUnitStat.count}"></td>
    <td class="whitespace-nowrap px-6 py-4" th:text="${accommodationUnit.name}"></td>
    <td class="whitespace-nowrap px-6 py-4" th:text="${accommodationUnit.capacity}"></td>
    <td class="whitespace-nowrap px-6 py-4" th:text="${accommodationUnit.destination}"></td>
    <td class="whitespace-nowrap px-6 py-4">
        <span th:if="${accommodationUnit.wifi}" th:text="#{textYes}"></span>
        <span th:unless="${accommodationUnit.wifi}" th:text="#{textNo}"></span>
    </td>
    <td class="whitespace-nowrap px-6 py-4">
        <span th:if="${accommodationUnit.bathroom}" th:text="#{textYes}"></span>
        <span th:unless="${accommodationUnit.bathroom}" th:text="#{textNo}"></span>
    </td>
    <td class="whitespace-nowrap px-6 py-4">
        <span th:if="${accommodationUnit.tv}" th:text="#{textYes}"></span>
        <span th:unless="${accommodationUnit.tv}" th:text="#{textNo}"></span>
    </td>
    <td class="whitespace-nowrap px-6 py-4">
        <span th:if="${accommodationUnit.conditioner}" th:text="#{textYes}"></span>
        <span th:unless="${accommodationUnit.conditioner}" th:text="#{textNo}"></span>
    </td>
    <td class="whitespace-nowrap px-6 py-4">
        <div th:replace="~{fragments/forms/accommodationUnits/GET_editAccommodationUnitForm :: GET_editAccommodationUnitForm}"></div>
    </td>
    <td class="whitespace-nowrap px-6 py-4">
        <div th:replace="~{fragments/forms/accommodationUnits/deleteAccommodationUnitForm :: deleteAccommodationUnitForm}"></div>
    </td>
</tr>