<div th:fragment="addNewTravelModal" id="addNewTravelModal" class="z-10 fixed inset-0 bg-black bg-opacity-50 flex items-center justify-center hidden">
    <div class="bg-white p-8 rounded lg:w-[600px]">
        <div class="flex justify-between mb-8">
            <h2 class="text-2xl font-bold" th:text="#{addNewTravelModalHeading}"></h2>
            <button id="addNewTravelCloseButton" class="addNewTravelToggleTrigger text-gray-700 font-bold">X</button>
        </div>
        <div th:replace="~{fragments/forms/travels/addNewTravelForm :: addNewTravelForm}"></div>
    </div>
</div>