<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Travel Agency Star - User Validation Failed Page</title>
    <div th:replace="~{fragments/config/head :: headConfig}"></div>
</head>
<body>

<!-- nav -->
<div th:replace="~{fragments/nav :: nav}"></div>

<!-- main content for this page -->
<main class="min-h-[92vh] mx-auto max-w-7xl py-6 px-2 sm:px-6 lg:px-8 lg:py-12">
    <div class="w-full text-center lg:text-left">
        <a href="/" class="text-red-600" th:text="'< ' + #{textBackToHomepage}"></a>
    </div>
    <h1 class="text-center text-3xl lg:text-4xl lg:text-left my-6 lg:my-8" th:text="#{userValidationPageHeading}"></h1>
    <p class="text-center text-xl lg:text-2xl lg:text-left mb-4" th:text="#{validationPageMessage}"></p>
    <p class="text-center text-xl lg:text-2xl lg:text-left" th:text="#{userValidationPageUsername}"></p>
    <p class="text-center text-xl lg:text-2xl lg:text-left" th:text="#{userValidationPagePassword}"></p>
    <p class="text-center text-xl lg:text-2xl lg:text-left" th:text="#{userValidationPageEmail}"></p>
    <p class="text-center text-xl lg:text-2xl lg:text-left" th:text="#{userValidationPageSurname}"></p>
    <p class="text-center text-xl lg:text-2xl lg:text-left" th:text="#{userValidationPageFirstName}"></p>
    <p class="text-center text-xl lg:text-2xl lg:text-left" th:text="#{userValidationPageAddress}"></p>
    <p class="text-center text-xl lg:text-2xl lg:text-left" th:text="#{userValidationPagePhone}"></p>
    <p class="text-center text-xl lg:text-2xl lg:text-left" th:text="#{userValidationPageBirth}"></p>
    <p class="text-center text-xl lg:text-2xl lg:text-left text-red-600 mt-4" th:text="#{userValidationIF}"></p>
</main>

<!-- footer -->
<div th:replace="~{fragments/footer :: footer}"></div>

<!-- script -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script type="module" th:src="@{/script/script.js}"></script>

</body>
</html>