<form th:fragment="editUserForm" id="editUserForm" method="post" action="/editUser">
    <label for="editUserUsername" class="block font-medium text-gray-700 mt-4">Username</label>
    <input type="text" id="editUserUsername" name="username" class="mt-1 p-2 border rounded-md w-full" />
    <label for="editUserPassword" class="block font-medium text-gray-700 mt-4">Name</label>
    <input type="text" id="editUserPassword" name="password" class="mt-1 p-2 border rounded-md w-full" />
    <label for="editUserEmail" class="block font-medium text-gray-700 mt-4">Surname</label>
    <input type="text" id="editUserEmail" name="email" class="mt-1 p-2 border rounded-md w-full" />
    <label for="editUserSurname" class="block font-medium text-gray-700 mt-4">Email</label>
    <input type="text" id="editUserSurname" name="surname" class="mt-1 p-2 border rounded-md w-full" />
    <label for="editUserName" class="block font-medium text-gray-700 mt-4">Password</label>
    <input type="text" id="editUserName" name="name" class="mt-1 p-2 border rounded-md w-full" />
    <label for="editUserAddress" class="block font-medium text-gray-700 mt-4">Address</label>
    <input type="text" id="editUserAddress" name="address" class="mt-1 p-2 border rounded-md w-full" />
    <label for="editUserPhone" class="block font-medium text-gray-700 mt-4">Phone</label>
    <input type="number" id="editUserPhone" name="phone" class="mt-1 p-2 border rounded-md w-full" />
    <label for="editUserBirthDate" class="block font-medium text-gray-700 mt-4">Birth</label>
    <input type="date" id="editUserBirthDate" name="birthDate" class="mt-1 p-2 border rounded-md w-full" />
    <button type="submit" class="gap-x-4 mt-8 bg-red-600 hover:bg-red-700 text-white font-bold py-2 px-4 rounded">Save</button>
</form>