<form th:fragment="editUserForm" id="editUserForm" method="post" action="/editUserPost">
    <input type="hidden" id="editUserId" name="id" th:value="${user?.id}" readonly/>
    <label for="editUserUsername" class="block font-medium text-gray-700 mt-4" th:text="#{textUsername}"></label>
    <input type="text" id="editUserUsername" name="username" th:value="${user?.username}" class="mt-1 p-2 border rounded-md w-full" />
    <label for="editUserPassword" class="block font-medium text-gray-700 mt-4" th:text="#{textPassword}"></label>
    <input type="text" id="editUserPassword" name="password" th:value="${user?.password}" class="mt-1 p-2 border rounded-md w-full" />
    <label for="editUserEmail" class="block font-medium text-gray-700 mt-4" th:text="#{textEmail}"></label>
    <input type="text" id="editUserEmail" name="email" th:value="${user?.email}" class="mt-1 p-2 border rounded-md w-full" />
    <label for="editUserSurname" class="block font-medium text-gray-700 mt-4" th:text="#{textSurname}"></label>
    <input type="text" id="editUserSurname" name="surname" th:value="${user?.surname}" class="mt-1 p-2 border rounded-md w-full" />
    <label for="editUserName" class="block font-medium text-gray-700 mt-4" th:text="#{textName}"></label>
    <input type="text" id="editUserName" name="name" th:value="${user?.name}" class="mt-1 p-2 border rounded-md w-full" />
    <label for="editUserAddress" class="block font-medium text-gray-700 mt-4" th:text="#{textAddress}"></label>
    <input type="text" id="editUserAddress" name="address" th:value="${user?.address}" class="mt-1 p-2 border rounded-md w-full" />
    <label for="editUserPhone" class="block font-medium text-gray-700 mt-4" th:text="#{textPhone}"></label>
    <input type="number" id="editUserPhone" name="phone" th:value="${user?.phone}" class="mt-1 p-2 border rounded-md w-full" />
    <label for="editUserBirthDate" class="block font-medium text-gray-700 mt-4" th:text="#{textBirth}"></label>
    <input type="date" id="editUserBirthDate" name="birthDate" th:value="${user?.birthDate}" class="mt-1 p-2 border rounded-md w-full" />
    <input type="hidden" id="editUserBlocked" name="blocked" th:value="${user?.blocked}" />
    <button type="submit" class="gap-x-4 mt-8 bg-red-600 hover:bg-red-700 text-white font-bold py-2 px-4 rounded" id="editUserSubmitButton" th:text="#{textSave}"></button>
</form>
