<!-- need more info in form -->
<form th:fragment="registerForm" name="registerForm" method="post" action="/addNewUser">
    <label for="usernameRegister" class="block font-medium text-gray-700">Username:</label>
    <input type="text" id="usernameRegister" name="username" class="mt-1 p-2 border rounded-md w-full">
    <label for="passwordRegister" class="block font-medium text-gray-700 mt-4">Password:</label>
    <input type="password" id="passwordRegister" name="password" class="mt-1 p-2 border rounded-md w-full">
    <label for="emailRegister" class="block font-medium text-gray-700 mt-4">Email:</label>
    <input type="email" id="emailRegister" name="email" class="mt-1 p-2 border rounded-md w-full">
    <label for="surnameRegister" class="block font-medium text-gray-700 mt-4">Surname:</label>
    <input type="text" id="surnameRegister" name="surname" class="mt-1 p-2 border rounded-md w-full">
    <label for="nameRegister" class="block font-medium text-gray-700 mt-4">Name:</label>
    <input type="text" id="nameRegister" name="name" class="mt-1 p-2 border rounded-md w-full">
    <label for="addressRegister" class="block font-medium text-gray-700 mt-4">Address:</label>
    <input type="text" id="addressRegister" name="address" class="mt-1 p-2 border rounded-md w-full">
    <label for="phoneRegister" class="block font-medium text-gray-700 mt-4">Phone:</label>
    <input type="number" id="phoneRegister" name="phone" class="mt-1 p-2 border rounded-md w-full">
    <label for="birthDateRegister" class="block font-medium text-gray-700 mt-4">Birth:</label>
    <input type="date" id="birthDateRegister" name="birthDate" class="mt-1 p-2 border rounded-md w-full" th:value="${#dates.format(#dates.createNow(), 'yyyy-MM-dd')}">
    <!-- registered date automatic -->
    <!-- role guest if guest register, if admin make than he can switch between roles -->
    <button type="submit" class="gap-x-4 mt-8 bg-red-600 hover:bg-red-700 text-white font-bold py-2 px-4 rounded" id="userSubmitButton">Register</button>
</form>