<form th:if="${session.user.role.name() == 'Administrator'}" th:fragment="deleteCouponForm"
      id="deleteCouponForm" method="post" action="/coupon/deleteCoupon">
    <input type="hidden" th:value="${c.id}" name="couponId" id="deleteCouponId" readonly />
    <button class="deleteCouponButton bg-red-600 text-white px-4 py-2 text-sm font-medium border-2 border-red-600 hover:bg-white hover:text-red-600
               hover:border-red-600 transition duration-300 cursor-pointer" type="submit" th:text="#{textDelete}"></button>
</form>