<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Travel Agency Star - Login Error Page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>

<!-- nav -->
<div th:replace="~{fragments/nav :: nav}"></div>

<!-- main content for this page -->
<main class="min-h-[92vh] mx-auto max-w-7xl py-6 px-2 sm:px-6 lg:px-8 lg:py-12">
    <div class="w-full text-center lg:text-left">
        <a href="/" class="text-red-600" th:text="#{loginErrorPageBackToHomepage}"></a>
    </div>
    <h1 class="text-center text-3xl lg:text-4xl lg:text-left my-6 lg:my-8" th:text="#{loginErrorPageHeading}"></h1>
    <p class="text-center text-xl lg:text-2xl lg:text-left" th:text="#{loginErrorPageMessage}"></p>

</main>

<!-- footer -->
<div th:replace="~{fragments/footer :: footer}"></div>

<!-- script -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script type="module" th:src="@{/script/script.js}"></script>

</body>
</html>