<header>
<nav class="border-b-2 border-red-600 py-2" th:fragment="nav">
    <div class="mx-auto max-w-7xl px-2 sm:px-6 lg:px-8">
        <div class="relative flex h-16 items-center justify-between">
            <div class="flex flex-1 items-center sm:items-stretch sm:justify-start">
                <div class="flex items-center">
                    <img class="h-12  w-auto" th:src="@{/images/logo.jpg}" alt="Logo">
                </div>
                <div class="pt-2 hidden sm:ml-6 sm:block">
                    <div class="flex space-x-3">
                        <!-- ADD LATER ACTIVE: bg-red-600 text-white rounded-md px-3 py-2 text-sm font-medium -->
                        <a href="/" class="hover:text-red-600 rounded-md px-2 py-1 font-medium transition duration-300">Travel</a>
                        <a href="#" class="hover:text-red-600 rounded-md px-2 py-1 font-medium transition duration-300">Reports</a>
                        <a href="/dashboard" class="hover:text-red-600 rounded-md px-2 py-1 font-medium transition duration-300">Dashboard</a>
                    </div>
                </div>
            </div>
            <div class="flex items-center gap-x-2 pr-2 sm:static sm:inset-auto sm:ml-6 sm:pr-0">
                <!-- cart and login -->
                <a href="/cart" class="bg-red-600 text-white hover:text-red-600 rounded-md px-4 py-2 text-sm font-medium border-2 border-red-600 transition duration-300">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="white" width="24" height="20" viewBox="0 0 24 20"><path d="M10 19.5c0 .829-.672 1.5-1.5 1.5s-1.5-.671-1.5-1.5c0-.828.672-1.5 1.5-1.5s1.5.672 1.5 1.5zm3.5-1.5c-.828 0-1.5.671-1.5 1.5s.672 1.5 1.5 1.5 1.5-.671 1.5-1.5c0-.828-.672-1.5-1.5-1.5zm1.336-5l1.977-7h-16.813l2.938 7h11.898zm4.969-10l-3.432 12h-12.597l.839 2h13.239l3.474-12h1.929l.743-2h-4.195z"/></svg>
                </a>
                <button id="loginButton" class="loginToggleTrigger hidden sm:block bg-red-600 text-white hover:bg-white hover:text-red-600 rounded-md px-4 py-2 text-sm font-medium border-2 border-red-600 transition duration-300">
                    Login
                </button>

                <!-- login modal -->
                <div id="loginModal" class="z-10 fixed inset-0 bg-black bg-opacity-50 flex items-center justify-center hidden">
                    <div class="bg-white p-8 rounded lg:w-[400px]">
                        <div class="flex justify-between mb-8">
                            <h2 class="text-2xl font-bold">Login</h2>
                            <button id="loginCloseButton" class="loginToggleTrigger text-gray-700 font-bold">X</button>
                        </div>
                        <div th:replace="~{fragments/forms/loginForm :: loginForm}"></div>
                    </div>
                </div>

                <!-- register modal -->
                <div id="registerModal" class="z-10 fixed inset-0 bg-black bg-opacity-50 flex items-center justify-center hidden">
                    <div class="bg-white p-8 rounded lg:w-[600px]">
                        <div class="flex justify-between mb-8">
                            <h2 class="text-2xl font-bold">Register</h2>
                            <button id="registerCloseButton" class="registerToggleTrigger text-gray-700 font-bold">X</button>
                        </div>
                        <div th:replace="~{fragments/forms/registerForm :: registerForm}"></div>
                    </div>
                </div>

            </div>
            <div class="flex items-center sm:hidden">
                <!-- Mobile menu button-->
                <button id="menuButton" type="button" class="relative inline-flex items-center justify-center rounded-md p-2 text-white bg-red-600 focus:outline-none focus:ring-2 focus:ring-inset focus:ring-white" aria-controls="mobile-menu" aria-expanded="false">
                    <span class="absolute -inset-0.5"></span>
                    <svg class="block h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true"><path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" /></svg>
                    <svg class="hidden h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true"><path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" /></svg>
                </button>
            </div>
        </div>
    </div>

    <!-- Mobile menu, show/hide based on menu state. -->
    <div class="sm:hidden" id="mobileMenu">
        <div class="space-y-1 px-2 pb-3 pt-2">
            <a href="/" class="text-red-600 block rounded-md px-3 py-2 text-base font-medium">Travel</a>
            <a href="#" class="text-red-600 block rounded-md px-3 py-2 text-base font-medium">Reports</a>
            <a href="/dashboard" class="text-red-600 block rounded-md px-3 py-2 text-base font-medium">Dashboard</a>
            <a href="#" class="loginToggleTrigger bg-red-600 text-white block rounded-md px-3 py-2 text-base font-medium">Login</a>
        </div>
    </div>
</nav>
</header>
