<header>
<nav class="border-b-2 border-red-600 py-2" th:fragment="nav">
    <div class="mx-auto max-w-7xl px-2 sm:px-6 lg:px-8">
        <div class="relative flex h-16 items-center justify-between">
            <div class="flex flex-1 items-center sm:items-stretch sm:justify-start">
                <div class="flex items-center">
                    <a href="/"><img class="h-12  w-auto" th:src="@{/images/logo.jpg}" alt="Logo"></a>
                </div>
                <div class="pt-2 hidden sm:ml-6 sm:block">
                    <div class="flex space-x-3 mt-1">
                        <div th:if="${session.user != null}">
                            <div th:switch="${session.user.role.name()}">
                                <div th:case="'Administrator'">
                                    <a href="/" class="hover:text-red-600 rounded-md px-2 py-1 font-medium transition duration-300" th:text="#{navTravelLink}"></a>
                                    <a href="#" class="hover:text-red-600 rounded-md px-2 py-1 font-medium transition duration-300" th:text="#{navReportsLink}"></a>
                                    <a href="/dashboard" class="hover:text-red-600 rounded-md px-2 py-1 font-medium transition duration-300" th:text="#{navDashboardLink}"></a>
                                    <a href="/profile" class="hover:text-red-600 rounded-md px-2 py-1 font-medium transition duration-300" th:text="#{navProfileLink}"></a>
                                </div>
                                <div th:case="'Organizer'">
                                    <a href="/" class="hover:text-red-600 rounded-md px-2 py-1 font-medium transition duration-300" th:text="#{navTravelLink}"></a>
                                    <a href="#" class="hover:text-red-600 rounded-md px-2 py-1 font-medium transition duration-300" th:text="#{navReportsLink}"></a>
                                    <a href="/dashboard" class="hover:text-red-600 rounded-md px-2 py-1 font-medium transition duration-300" th:text="#{navDashboardLink}"></a>
                                    <a href="/profile" class="hover:text-red-600 rounded-md px-2 py-1 font-medium transition duration-300" th:text="#{navProfileLink}"></a>
                                </div>
                                <div th:case="'Passenger'">
                                    <a href="/" class="hover:text-red-600 rounded-md px-2 py-1 font-medium transition duration-300" th:text="#{navTravelLink}"></a>
                                    <a href="/profile" class="hover:text-red-600 rounded-md px-2 py-1 font-medium transition duration-300" th:text="#{navProfileLink}"></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="flex items-center gap-x-2 pr-2 sm:static sm:inset-auto sm:ml-6 sm:pr-0">
                <!-- cart and login -->
                <a href="/cart" class="bg-red-600 text-white hover:text-red-600 rounded-md px-4 py-2 text-sm font-medium border-2 border-red-600 transition duration-300">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="white" width="24" height="20" viewBox="0 0 24 20"><path d="M10 19.5c0 .829-.672 1.5-1.5 1.5s-1.5-.671-1.5-1.5c0-.828.672-1.5 1.5-1.5s1.5.672 1.5 1.5zm3.5-1.5c-.828 0-1.5.671-1.5 1.5s.672 1.5 1.5 1.5 1.5-.671 1.5-1.5c0-.828-.672-1.5-1.5-1.5zm1.336-5l1.977-7h-16.813l2.938 7h11.898zm4.969-10l-3.432 12h-12.597l.839 2h13.239l3.474-12h1.929l.743-2h-4.195z"/></svg>
                </a>

            <div th:if="${session.user == null}">
                <button id="loginButton" class="loginToggleTrigger hidden sm:block bg-red-600 text-white hover:bg-white hover:text-red-600 rounded-md px-4 py-2 text-sm
                    font-medium border-2 border-red-600 transition duration-300" th:text="#{navLogin}">
                </button>
            </div>
            <div th:if="${session.user != null}">
                <a href="/logout">
                    <button id="logoutButton" class="logoutToggleTrigger hidden sm:block bg-red-600 text-white hover:bg-white hover:text-red-600 rounded-md px-4 py-2 text-sm
                    font-medium border-2 border-red-600 transition duration-300" th:text="#{navLogout}">
                    </button>
                </a>
            </div>

                <div class="flex items-center sm:hidden">
                    <!-- Mobile menu button-->
                    <button id="menuButton" type="button" class="relative inline-flex items-center justify-center rounded-md p-2 text-white bg-red-600 focus:outline-none focus:ring-2 focus:ring-inset focus:ring-white" aria-controls="mobile-menu" aria-expanded="false">
                        <span class="absolute -inset-0.5"></span>
                        <svg class="block h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true"><path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" /></svg>
                        <svg class="hidden h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true"><path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" /></svg>
                    </button>
                </div>

                <!-- lang drop -->
                <button id="langDropdownButton" class="text-red-600 bg-white border-2 border-red-600
                font-medium rounded-lg text-sm px-3 py-2 text-center inline-flex items-center" type="button" th:text="#{navLangPrefix}">
                    <!--
                    <svg class="w-2.5 h-2.5 ms-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 4 4 4-4"/>
                    </svg> -->
                </button>

                <!-- Dropdown menu -->
                <div id="langDropdown" class="z-10 w-16 hidden bg-white divide-y divide-gray-100 rounded-lg absolute top-14 right-2 sm:right-0 border-2 border-red-600">
                    <ul class="py-2 text-sm text-gray-700 dark:text-gray-200" aria-labelledby="dropdownDefaultButton">
                        <li>
                            <a href="/i18n/changeLanguage?lang=en" class="block font-medium px-4 py-2 text-red-600 hover:bg-red-600 hover:text-white transition duration-300">EN</a>
                        </li>
                        <li>
                            <a href="/i18n/changeLanguage?lang=sr" class="block font-medium px-4 py-2 text-red-600 hover:bg-red-600 hover:text-white transition duration-300">SR</a>
                        </li>
                    </ul>
                </div>

                <!-- login modal -->
                <div th:replace="~{fragments/modals/loginModal :: loginModal}"></div>

                <!-- register modal -->
                <div th:replace="~{fragments/modals/registerModal :: registerModal}"></div>

            </div>

        </div>
    </div>

    <!-- Mobile menu, show/hide based on menu state. -->
    <div class="sm:hidden" id="mobileMenu">
        <div class="space-y-1 px-2 pb-3 pt-2">
            <div th:if="${session.user != null}">
                <div th:switch="${session.user.role.name()}">
                    <div th:case="'Administrator'" class="flex flex-col">
                        <a href="/" class="hover:text-red-600 rounded-md px-2 py-1 font-medium transition duration-300" th:text="#{navTravelLink}"></a>
                        <a href="#" class="hover:text-red-600 rounded-md px-2 py-1 font-medium transition duration-300 mt-2" th:text="#{navReportsLink}"></a>
                        <a href="/dashboard" class="hover:text-red-600 rounded-md px-2 py-1 font-medium transition duration-300 mt-2" th:text="#{navDashboardLink}"></a>
                        <a href="/profile" class="hover:text-red-600 rounded-md px-2 py-1 font-medium transition duration-300 mt-2" th:text="#{navProfileLink}"></a>
                    </div>
                    <div th:case="'Organizer'" class="flex flex-col">
                        <a href="/" class="hover:text-red-600 rounded-md px-2 py-1 font-medium transition duration-300" th:text="#{navTravelLink}"></a>
                        <a href="#" class="hover:text-red-600 rounded-md px-2 py-1 font-medium transition duration-300 mt-2" th:text="#{navReportsLink}"></a>
                        <a href="/dashboard" class="hover:text-red-600 rounded-md px-2 py-1 font-medium transition duration-300 mt-2" th:text="#{navDashboardLink}"></a>
                        <a href="/profile" class="hover:text-red-600 rounded-md px-2 py-1 font-medium transition duration-300 mt-2" th:text="#{navProfileLink}"></a>
                    </div>
                    <div th:case="'Passenger'" class="flex flex-col">
                        <a href="/" class="hover:text-red-600 rounded-md px-2 py-1 font-medium transition duration-300" th:text="#{navTravelLink}"></a>
                        <a href="/profile" class="hover:text-red-600 rounded-md px-2 py-1 font-medium transition duration-300 mt-2" th:text="#{navProfileLink}"></a>
                    </div>
                </div>
            </div>

            <div th:unless="${session.user != null}">
                <a href="#" class="loginToggleTrigger bg-red-600 text-white block rounded-md px-3 py-2 text-base font-medium" th:text="#{navLogin}"></a>
            </div>

        </div>
    </div>
</nav>
</header>
