<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Travel Agency Star - Dashboard - Accommodation Units</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>

<!-- nav -->
<div th:replace="~{fragments/nav :: nav}"></div>

<!-- main content for this page -->
<main class="min-h-[92vh] mx-auto max-w-7xl py-6 px-2 sm:px-6 lg:px-8 lg:py-12">

    <!-- fragment for changing page -->
    <div th:replace="~{fragments/ui/dashboard/LinkingAboveHeaderTag :: LinkingAboveHeaderTag}"></div>

    <h1 class="text-center text-3xl lg:text-4xl lg:text-left" th:text="#{dashboardAccommodationUnitsPageHeading}"></h1>

    <h2 class="pt-6 lg:pt-8 text-xl lg:text-2xl text-center lg:text-left" th:text="#{dashboardAccommodationUnitsPageAllAccommodationUnits}"></h2>
    <div class="flex justify-center lg:justify-end">
        <button class="addNewAccommodationUnitToggleTrigger mt-4 lg:mt-6 bg-gray-600 text-white rounded-md px-4 py-2 text-sm font-medium border-2
        border-gray-600" th:text="#{dashboardAccommodationUnitsAddNewAccommodationUnit}"></button>
    </div>

    <div class="pt-6 lg:pt-8 text-center lg:text-left overflow-auto">
        <table class="min-w-full text-center font-light">
            <thead class="border-b font-medium dark:border-neutral-500">
            <tr>
                <th scope="col" class="px-4 py-4">#</th>
                <th scope="col" class="px-4 py-4" th:text="#{dashboardAccommodationUnitsName}"></th>
                <th scope="col" class="px-4 py-4" th:text="#{dashboardAccommodationUnitsCapacity}"></th>
                <th scope="col" class="px-4 py-4" th:text="#{dashboardAccommodationUnitsDestination}"></th>
                <th scope="col" class="px-4 py-4" th:text="#{dashboardAccommodationUnitsWifi}"></th>
                <th scope="col" class="px-4 py-4" th:text="#{dashboardAccommodationUnitsBathroom}"></th>
                <th scope="col" class="px-4 py-4" th:text="#{dashboardAccommodationUnitsTv}"></th>
                <th scope="col" class="px-4 py-4" th:text="#{dashboardAccommodationUnitsConditioner}"></th>
                <th scope="col" class="px-4 py-4" th:text="#{dashboardAccommodationUnitsEdit}"></th>
                <th scope="col" class="px-4 py-4" th:text="#{dashboardAccommodationUnitsRemove}"></th>
            </tr>
            </thead>
            <tbody>
            <tr th:replace="~{fragments/tableItems/tableDashboardAccommodationUnit :: tableDashboardAccommodationUnit}"> </tr>
            </tbody>
        </table>
    </div>

    <!-- add new vehicle modal -->
    <div th:replace="~{fragments/modals/addNewAccommodationUnitModal :: addNewAccommodationUnitModal}"></div>

</main>

<!-- footer -->
<div th:replace="~{fragments/footer :: footer}"></div>

<!-- script -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script type="module" th:src="@{/script/script.js}"></script>

</body>
</html>