<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Travel Agency Star - Dashboard - Travels</title>
    <div th:replace="~{fragments/config/head :: headConfig}"></div>
</head>
<body>

<!-- nav -->
<div th:replace="~{fragments/nav :: nav}"></div>

<!-- main content for this page -->
<main class="min-h-[92vh] mx-auto max-w-7xl py-6 px-2 sm:px-6 lg:px-8 lg:py-12">

    <!-- fragment for changing page -->
    <div th:replace="~{fragments/ui/dashboard/LinkingAboveHeaderTag :: LinkingAboveHeaderTag}"></div>

    <h1 class="text-center text-3xl lg:text-4xl lg:text-left" th:text="#{dashboardTravelsPageHeading}"></h1>

    <h2 class="pt-6 lg:pt-8 text-xl lg:text-2xl text-center lg:text-left" th:text="#{dashboardTravelsPageAllTravels}"></h2>
    <div class="flex justify-center lg:justify-end">
        <button class="addNewTravelToggleTrigger mt-4 lg:mt-6 bg-gray-600 text-white rounded-md px-4 py-2 text-sm font-medium border-2 border-gray-600"
        th:text="#{dashboardTravelsPageAddNewTravel}"></button>
    </div>
    <div class="pt-6 lg:pt-8 text-center lg:text-left overflow-auto">
        <table class="min-w-full text-center font-light">
            <thead class="border-b font-medium dark:border-neutral-500">
            <tr >
                <th scope="col" class="px-4 py-4" th:text="'#'"></th>
                <th scope="col" class="px-4 py-4" th:text="#{textDestination}"></th>
                <th scope="col" class="px-4 py-4" th:text="#{textVehicle}"></th>
                <th scope="col" class="px-4 py-4" th:text="#{textAccommodationUnit}"></th>
                <th scope="col" class="px-4 py-4" th:text="#{textStartDate}"></th>
                <th scope="col" class="px-4 py-4" th:text="#{textEndDate}"></th>
                <th scope="col" class="px-4 py-4" th:text="#{textTravelCategory}"></th>
                <th scope="col" class="px-4 py-4" th:text="#{textPrice}"></th>
                <th scope="col" class="px-4 py-4" th:text="#{textEdit}"></th>
                <th scope="col" class="px-4 py-4" th:text="#{textRemove}"></th>
            </tr>
            </thead>
            <tbody>
            <tr th:replace="~{fragments/tableItems/tableDashboardTravel :: tableDashboardTravel}"> </tr>
            </tbody>
        </table>
    </div>

    <!-- add new travel modal -->
    <div th:replace="~{fragments/modals/addNewTravelModal :: addNewTravelModal}"></div>

</main>

<!-- footer -->
<div th:replace="~{fragments/footer :: footer}"></div>

<!-- script -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script type="module" th:src="@{/script/script.js}"></script>

</body>
</html>