<div th:fragment="travelCard" class="w-full rounded overflow-hidden shadow-lg text-center border-2 transform transition-transform duration-300 hover:scale-105">
    <a href="#"><img class="w-full" th:src="@{/images/barcelona.jpg}" alt="barcelona"></a>
    <div class="px-6 py-4">
        <a href="#" class="font-bold text-xl">Destination name</a>
        <p class="text-gray-700 text-base pt-2">Vehicle type: Autobus</p>
        <p class="text-gray-700 text-base">Price: 15000din</p>
    </div>
    <div class="px-6 py-2">
        <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">#category</span>
    </div>
</div>