<div th:fragment="travelCard" class="w-full rounded overflow-hidden shadow-lg text-center border-2 transform transition-transform duration-300 hover:scale-105">
    <a href="#"><img class="w-full" th:src="@{/images/barcelona.jpg}" alt="barcelona"></a>
    <div class="px-6 py-4">
        <a href="#" class="font-bold text-xl">Destination name</a>
        <p class="text-gray-700 text-base pt-2">Vehicle type: Autobus</p>
        <p class="text-gray-700 text-base">Category: Category</p>
    </div>
    <div class="px-6 py-2">
        <span class="inline-block bg-gray-200 rounded-full px-4 py-2 font-semibold text-gray-700 mr-2 mb-2 border-2">15.000 din</span>
        <button type="button" class="bg-red-600 rounded-full px-4 py-2 text-white font-semibold mr-2 mb-2 border-2 border-red-600
        transition duration-300 hover:text-red-600 hover:bg-white">Add to Wishlist</button>
    </div>
</div>