<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Travel Agency Star - Cart</title>
    <div th:replace="~{fragments/config/head :: headConfig}"></div>
</head>
<body>

<!-- nav -->
<div th:replace="~{fragments/nav :: nav}"></div>

<!-- main content for this page -->
<main class="min-h-[92vh] mx-auto max-w-7xl py-6 px-2 sm:px-6 lg:px-8 lg:py-12">
    <h1 class="text-center text-3xl lg:text-4xl lg:text-left" th:text="#{cartPageHeading}"></h1>
    <h2 class="pt-6 lg:pt-8 text-xl lg:text-2xl text-center lg:text-left" th:text="#{cartPageSubheading}"></h2>
    <div class="pt-6 lg:pt-8 text-center lg:text-left overflow-auto">
        <table class="min-w-full text-center font-light">
            <thead class="border-b font-medium dark:border-neutral-500">
            <tr >
                <th scope="col" class="px-4 py-4">#</th>
                <th scope="col" class="px-4 py-4" th:text="#{textDestination}"></th>
                <th scope="col" class="px-4 py-4" th:text="#{textID}"></th>
                <th scope="col" class="px-4 py-4" th:text="#{textStartDate}"></th>
                <th scope="col" class="px-4 py-4" th:text="#{textEndDate}"></th>
                <th scope="col" class="px-4 py-4" th:text="#{textVehicle}"></th>
                <th scope="col" class="px-4 py-4" th:text="#{textAUnit}"></th>
                <th scope="col" class="px-4 py-4" th:text="#{textNights}"></th>
                <th scope="col" class="px-4 py-4" th:text="#{textPrice}"></th>
                <th scope="col" class="px-4 py-4" th:text="#{textPassengers}"></th>
                <th scope="col" class="px-4 py-4" th:text="#{textRemove}"></th>
            </tr>
            </thead>
            <tbody>
                <tr th:if="${cart != null and cart.size() > 0}" th:replace="~{fragments/tableItems/tableCartItem :: tableCartItem}"> </tr>
            </tbody>
        </table>
    </div>

    <div th:if="${cart != null}" class="pt-6 lg:pt-8 text-center lg:text-left overflow-auto">
        <h3 th:if="${totalPrice == null}" class="text-lg lg:text-xl font-bold" th:text="#{cartPageTotalPrice} + ' ' + '0.0 din'"></h3>
        <h3 th:if="${totalPrice != null && totalPrice>0}" class="text-lg lg:text-xl font-bold" th:text="#{cartPageTotalPrice} + ' ' + ${totalPrice} + ' din'" id="totalPrice"></h3>
        <div th:replace="~{fragments/forms/reservations/createReservation :: createReservationForm}"></div>
    </div>

    <div th:if="${cart == null || (cart!=null && totalPrice==0)}">
        <p class="pt-4 text-center">No items to show.</p>
    </div>

</main>

<!-- footer -->
<div th:replace="~{fragments/footer :: footer}"></div>

<!-- script -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script type="module" th:src="@{/script/script.js}"></script>
</body>
</html>