<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Travel Agency Star</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>

<!-- nav -->
<div th:replace="~{fragments/nav :: nav}"></div>

<!-- main content for this page -->
<main class="min-h-[92vh] mx-auto max-w-7xl py-6 px-2 sm:px-6 lg:px-8 lg:py-12">
    <h1 class="text-center text-3xl lg:text-4xl lg:text-left" th:text="#{travelPageHeading}"></h1>

    <!-- this will be holder of above card menu and all cards -->
    <div class="pt-6 lg:pt-8 text-center lg:text-left">
        <label for="travelSelectMenu" class="pr-2" th:text="#{travelPageSortBy}"></label>
        <select name="travelSelectMenu" id="travelSelectMenu" class="bg-white border border-gray-300 hover:border-gray-500 px-4 py-1 rounded shadow focus:border-gray-600">
            <option value="1">Default</option>
            <option value="2">Text 2</option>
            <option value="3">Text 3</option>
            <option value="4">Text 4</option>
        </select>

        <!-- holder of cards -->
        <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-8 pt-6 lg:pt-8">
            <!-- each card -->
            <div th:each="travel : ${travelsForCards}">
                <div class="w-full rounded overflow-hidden shadow-lg text-center border-2 transform transition-transform duration-300 hover:scale-105">
                    <!-- this will probably be form and link will be redirected to exact travel page with details. -->
                    <a th:href="'/travel?id=' + ${travel.id}">
                        <img class="h-64 w-full" th:src="@{/images/}+${travel.destination.image}" alt="travel-img">
                    </a>
                    <div class="px-6 py-4">
                        <a th:href="'/travel?id=' + ${travel.id}" class="font-bold text-xl" th:text="${travel.destination.city}"></a>
                        <p class="text-gray-700 text-base pt-2" th:text="#{textAccommodationUnit} + ': ' + ${travel.accommodationUnit.accommodationType}"></p>
                        <p class="text-gray-700 text-base" th:text="#{textVehicle} + ': ' + ${travel.vehicle.vehicleType}"></p>
                        <p class="text-gray-700 text-base" th:text="#{textCategory} + ': ' + ${travel.travelCategory}"></p>
                        <p class="text-gray-700 text-xl mt-1 font-bold" th:text="${#temporals.format(travel.startDate, 'dd.MM.yyyy')} + ' ---> '
                         + ${#temporals.format(travel.endDate, 'dd.MM.yyyy')}"></p>
                    </div>
                    <div class="px-6 py-2">
                        <span class="inline-block bg-gray-200 rounded-full px-4 py-2 font-semibold text-gray-700 mr-2 mb-2 border-2"
                              th:text="#{textPrice} + ': ' + ${travel.price} + '$'"></span>
                        <button type="button" class="bg-red-600 rounded-full px-4 py-2 text-white font-semibold mr-2 mb-2 border-2 border-red-600
        transition duration-300 hover:text-red-600 hover:bg-white" th:text="#{travelPageAddToWishlist}"></button>
                    </div>
                </div>
            </div>
        </div>

    </div>
</main>

<!-- footer -->
<div th:replace="~{fragments/footer :: footer}"></div>

<!-- script -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script type="module" th:src="@{/script/script.js}"></script>
</body>
</html>