<form th:fragment="filterTravelForm" id="filterTravelForm" method="get" action="/travel/filterTravel">
    <label for="filterTravelByDestination" class="block font-medium text-gray-700 mt-4" th:text="#{textDestination} + ': '"></label>
    <input class="mt-1 p-2 border rounded-md w-64" type="text" id="filterTravelByDestination" name="destination"/><br>
    <select id="sortTravelByDestination" name="sortDestination" class="border-2 p-2 rounded-md">
        <option value="Default" th:text="#{textDefaultSort}"></option>
        <option value="asc" th:text="#{textSortByAsc}"></option>
        <option value="desc" th:text="#{textSortByDesc}"></option>
    </select>
    <div class="flex flex-col justify-center items-center lg:justify-start lg:flex-row gap-x-12">
        <div class="flex flex-col w-64">
            <label for="filterTravelByTravelCategory" class="block font-medium text-gray-700 mt-4" th:text="#{textTravelCategory} + ': '"></label>
            <select id="filterTravelByTravelCategory" name="travelCategory" class="border-2 p-2 rounded-md">
                <option th:each="category : ${allTravelCategories}" th:value="${category}" th:text="${category}"></option>
            </select>
            <select id="sortTravelByTravelCategory" name="sortTravelCategory" class="border-2 p-2 rounded-md">
                <option value="Default" th:text="#{textDefaultSort}"></option>
                <option value="asc" th:text="#{textSortByAsc}"></option>
                <option value="desc" th:text="#{textSortByDesc}"></option>
            </select>
        </div>
        <div class="flex flex-col w-64">
            <label for="filterTravelByVehicleType" class="block font-medium text-gray-700 mt-4" th:text="#{textVehicleType} + ': '"></label>
            <select id="filterTravelByVehicleType" name="travelVehicleType" class="border-2 p-2 rounded-md">
                <option th:each="vType : ${allVehicleTypes}" th:value="${vType}" th:text="${vType}"></option>
            </select>
            <select id="sortTravelByTravelVehicleType" name="sortTravelVehicleType" class="border-2 p-2 rounded-md">
                <option value="Default" th:text="#{textDefaultSort}"></option>
                <option value="asc" th:text="#{textSortByAsc}"></option>
                <option value="desc" th:text="#{textSortByDesc}"></option>
            </select>
        </div>
        <div class="flex flex-col w-64">
            <label for="filterTravelByAccUnitType" class="block font-medium text-gray-700 mt-4" th:text="#{textAccommodationType} + ': '"></label>
            <select id="filterTravelByAccUnitType" name="travelAccUnitType" class="border-2 p-2 rounded-md">
                <option th:each="accUnitType : ${allAccUnitTypes}" th:value="${accUnitType}" th:text="${accUnitType}"></option>
            </select>
            <select id="sortTravelByTravelAccUnitType" name="sortTravelAccUnitType" class="border-2 p-2 rounded-md">
                <option value="Default" th:text="#{textDefaultSort}"></option>
                <option value="asc" th:text="#{textSortByAsc}"></option>
                <option value="desc" th:text="#{textSortByDesc}"></option>
            </select>
        </div>
    </div>

    <div class="flex flex-col justify-center items-center lg:items-start lg:justify-start lg:flex-row gap-x-12">
        <div class="flex flex-col w-64">
            <label for="filterTravelByMinPrice" class="block font-medium text-gray-700 mt-4" th:text="#{textMin} + ': '"></label>
            <input class="mt-1 p-2 border rounded-md w-64" type="number" min="0" id="filterTravelByMinPrice" name="minPrice"/>
        </div>

        <div class="flex flex-col w-64">
            <label for="filterTravelByMaxPrice" class="block font-medium text-gray-700 mt-4" th:text="#{textMax} + ': '"></label>
            <input class="mt-1 p-2 border rounded-md w-64" type="number" min="0" id="filterTravelByMaxPrice" name="maxPrice"/><br>
        </div>

        <select id="sortTravelByPrice" name="sortTravelPrice" class="border-2 p-2 rounded-md lg:mt-11">
            <option value="Default" th:text="#{textDefaultSort}"></option>
            <option value="asc" th:text="#{textSortByAsc}"></option>
            <option value="desc" th:text="#{textSortByDesc}"></option>
        </select>
    </div>

    <div class="flex flex-col justify-center items-center lg:items-start lg:justify-start lg:flex-row gap-x-12 mt-4">
        <div class="flex flex-col w-64">
            <label for="filterTravelByStartDate" class="block font-medium text-gray-700" th:text="#{textStartDate} + ': '"></label>
            <input class="mt-1 p-2 border rounded-md w-64" type="date" id="filterTravelByStartDate" name="startDate"/>
        </div>

        <div class="flex flex-col w-64">
            <label for="filterTravelByEndDate" class="block font-medium text-gray-700" th:text="#{textEndDate} + ': '"></label>
            <input class="mt-1 p-2 border rounded-md w-64" type="date" id="filterTravelByEndDate" name="endDate"/><br>
        </div>

        <select id="sortTravelByDate" name="sortTravelDate" class="border-2 p-2 rounded-md lg:mt-7">
            <option value="Default" th:text="#{textDefaultSort}"></option>
            <option value="asc" th:text="#{textSortByAsc}"></option>
            <option value="desc" th:text="#{textSortByDesc}"></option>
        </select>
    </div>

    <div class="flex flex-col justify-center items-center lg:items-start lg:justify-start lg:flex-row gap-x-12 mt-4">
        <div class="flex flex-col w-64">
            <label for="filterTravelByNightsFrom" class="block font-medium text-gray-700" th:text="#{textNightsFrom} + ': '"></label>
            <input class="mt-1 p-2 border rounded-md w-64" type="number" min="0" id="filterTravelByNightsFrom" name="nightsFrom"/>
        </div>

        <div class="flex flex-col w-64">
            <label for="filterTravelByNightsTo" class="block font-medium text-gray-700" th:text="#{textNightsTo} + ': '"></label>
            <input class="mt-1 p-2 border rounded-md w-64" type="number" min="0" id="filterTravelByNightsTo" name="nightsTo"/><br>
        </div>

        <select id="sortTravelByNights" name="sortTravelNights" class="border-2 p-2 rounded-md lg:mt-7">
            <option value="Default" th:text="#{textDefaultSort}"></option>
            <option value="asc" th:text="#{textSortByAsc}"></option>
            <option value="desc" th:text="#{textSortByDesc}"></option>
        </select>
    </div>

    <label for="filterTravelByPassengersAvailability" class="block font-medium text-gray-700 mt-4" th:text="#{textPassengersAvailability} + ': '"></label>
    <input class="mt-1 p-2 border rounded-md w-64" type="number" min="1" id="filterTravelByPassengersAvailability" name="passengersAvailability"/><br>
    <select id="sortTravelByPassengersAvailability" name="sortTravelPassengersAvailability" class="border-2 p-2 rounded-md">
        <option value="Default" th:text="#{textDefaultSort}"></option>
        <option value="asc" th:text="#{textSortByAsc}"></option>
        <option value="desc" th:text="#{textSortByDesc}"></option>
    </select>

    <div th:style="${session.user == null or (session.user != null and session.user.role.name() == 'Passenger') ? 'display:none;' : ''}">
        <label for="filterTravelByID" class="block font-medium text-gray-700 mt-4" th:text="#{textID} + ': '"></label>
        <input class="mt-1 p-2 border rounded-md w-64" type="number" min="1" id="filterTravelByID" name="inputID"/><br>
        <select id="sortTravelByID" name="sortTravelByID" class="border-2 p-2 rounded-md">
            <option value="Default" th:text="#{textDefaultSort}"></option>
            <option value="asc" th:text="#{textSortByAsc}"></option>
            <option value="desc" th:text="#{textSortByDesc}"></option>
        </select>
    </div>

    <br>
    <button type="submit" class="gap-x-4 mt-6 bg-red-600 hover:bg-red-700 text-white font-bold py-2 px-4 rounded" id="applyTravelFilterSubmitButton"
            th:text="#{textApplyFilters}"></button>
</form>

<form th:fragment="clearFilterForm" id="clearTravelFilterForm" method="get" action="/filterTravel">
    <input type="hidden" name="clearFilter" value="true"/>
    <br>
    <button type="submit" class="gap-x-4 bg-gray-500 hover:bg-gray-600 text-white font-bold py-2 px-4 rounded" id="clearTravelFilterButton"
            th:text="#{textClearFilters}"></button>
</form>