<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Edit User</title>
    <div th:replace="~{fragments/config/head :: headConfig}"></div>
</head>
<body>
<!-- nav -->
<div th:replace="~{fragments/nav :: nav}"></div>

<main class="min-h-[92vh] mx-auto max-w-7xl py-6 px-2 sm:px-6 lg:px-8 lg:py-12">
    <div class="w-full text-center lg:text-left">
        <a href="/dashboard" class="text-red-600" th:text="#{editPagesGoBack}"></a>
    </div>
    <h1 class="text-center text-3xl lg:text-4xl lg:text-left mb-8 mt-4" th:text="#{editPagesUser}"></h1>
    <div th:replace="~{fragments/forms/users/editUserForm :: editUserForm}"></div>
    <!-- fix -->
    <div th:if="${session.user.blocked} == true" th:replace="~{fragments/forms/users/deactivateUserForm :: deactivateUserForm}"></div>
    <div th:if="!${session.user.blocked} == false" th:replace="~{fragments/forms/users/reactivateUserForm :: reactivateUserForm}"></div>
</main>

<!-- footer -->
<div th:replace="~{fragments/footer :: footer}"></div>

<!-- script -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script type="module" th:src="@{/script/script.js}"></script>
</body>
</html>