<div th:fragment="LinkingAboveHeaderTag" class="flex flex-col lg:flex-row justify-end items-center gap-x-2 mb-8 lg:mb-0">
    <a class="mt-4 lg:mt-6 bg-white-600 text-gray-600 px-4 py-2 text-sm font-medium border-2 border-gray-600 hover:bg-gray-600 hover:text-white transition
    duration-300 cursor-pointer" href="/dashboard">USERS</a>
    <a class="mt-4 lg:mt-6 bg-white-600 text-gray-600 px-4 py-2 text-sm font-medium border-2 border-gray-600 hover:bg-gray-600 hover:text-white transition
    duration-300 cursor-pointer" href="/dashboard/destinations">DESTINATIONS</a>
    <a class="mt-4 lg:mt-6 bg-white-600 text-gray-600 px-4 py-2 text-sm font-medium border-2 border-gray-600 hover:bg-gray-600 hover:text-white transition
    duration-300 cursor-pointer" href="/dashboard">TEST</a>
</div>